body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

#HeaderSection {
    background-color: black;
    height: 86px;
    margin: -9px;
    padding: 15px;
}

#navbarSupportedContent ul li a {
    color: white;
}

#navbarSupportedContent ul li a:hover {
    color: red;
}

#navbarSupportedContent ul {
    margin-left: 189px;
    font-size: 14px;
}

#BodySection {
    width: 100%;
    margin-top: 9px;
}

#NewsMedia h1 {
    background-color: #212121;
    height: 60px;
    margin: -9px;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 16px;
    margin-top: 0px;
}

#NewsMedia div {
    width: 25%;
    display: inline-block;
    /* margin-top: 9px; */
    margin: -8px 0px 0px -5px;
    margin-top: 9px;
    overflow: hidden;
}

#NewsMedia div h2 {
    display: inline-block;
    font-size: 13px;
    padding: 0px 37px;
    font-weight: 900;
    color: white;
    position: relative;
    bottom: 50px;
}

#NewsMedia div img:hover {
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

#MotorSection {
    background-color: #212121;
    color: white;
    margin-top: -48px;
}

#MotorSection h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 0px 10px 42px;
}

#MotorSection ul li:hover {
    color: red;
}

#MotorSection ul {
    display: inline-block;
}

#MotorSection ul li:nth-child(9) {
    border-right: none;
}

#MotorSection ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    padding: 0px 23px;
    border-left: 2px solid white;
}

#MotorSection ul li {
    cursor: pointer;
}


/* Ridesection */

#RidesSection {
    background-color: #212121;
    color: white;
    margin-top: -9px;
}

#RidesSection h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0px 10px 42px;
}

#RidesSection ul li:hover {
    color: red;
}

#RidesSection ul {
    display: inline-block;
}

#RidesSection ul li:nth-child(9) {
    border-right: none;
}

#RidesSection ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    padding: 0px 18px;
    border-left: 2px solid white;
}

#RidesSection ul li {
    cursor: pointer;
}

/* Apparelsection */

#ApparelSection {
    background-color: #212121;
    color: white;
    margin-top: -8px;
}

#ApparelSection h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 0px 10px 42px;
}

#ApparelSection ul li:hover {
    color: red;
}

#ApparelSection ul {
    display: inline-block;
}

#ApparelSection ul li:nth-child(9) {
    border-right: none;
}

#ApparelSection ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    padding: 0px 23px;
    border-left: 2px solid white;
}

#ApparelSection ul li {
    cursor: pointer;
}

/* Accessoriessection */

#AccessoriesSection {
    background-color: #212121;
    color: white;
    margin-top: -4px;
}

#AccessoriesSection h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 0px 10px 42px;
}

#AccessoriesSection ul li:hover {
    color: red;
}

#AccessoriesSection ul {
    display: inline-block;
}

#AccessoriesSection ul li:nth-child(9) {
    border-right: none;
}

#AccessoriesSection ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    padding: 0px 23px;
    border-left: 2px solid white;
}

#AccessoriesSection ul li {
    cursor: pointer;
}

/* LocateUssection */

#LocateUsSection {
    background-color: #212121;
    color: white;
    margin-top: -4px;
}

#LocateUsSection h1 {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    padding: 20px 0px 10px 42px;
}

#LocateUsSection ul li:hover {
    color: red;
}

#LocateUsSection ul {
    display: inline-block;
}

#LocateUsSection ul li:nth-child(9) {
    border-right: none;
}

#LocateUsSection ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    padding: 0px 23px;
    border-left: 2px solid white;
}

#LocateUsSection ul li {
    cursor: pointer;
}

/* ==================== */


#footer1 {
    background-color: #212121;
}

.FooterBox {
    display: inline-block;
    margin: 0 auto;
    width: 33.14%;
    background-color: #212121;
}

.Icon3 i {
    display: flex;
    align-items: center;

    font-size: 50px;
    margin-top: 30px;
    color: aliceblue;

}

.text3 p {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 18px;
    display: inline-block;
    color: aliceblue;
    margin-bottom: 20px;
}

.text3 p:hover {
    color: red;
}

.text3 i {
    font-size: 16px;
    margin-left: 10px;
    color: aliceblue;
}

#Icon3_1 {
    margin-left: 388px;
}

#Icon3_2 {
    margin-left: 218px;
}

#Icon3_3 {
    margin-left: 93px;
}

#text3_1 p {
    margin-left: 347px;
}

#text3_2 p {
    margin-left: 198px;
}

#text3_3 p {
    margin-left: 52px;
   
}

#footer2 {
    background-color: #E5E3E3;
}

#footer2_1{
    margin-left: 1100px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#footer2_1 p {
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
}

#footer2_1 i {
    font-size: 30px;
    padding-left:20px ;
}
.line {
    border: 0;
    border-top: 1px solid lightgray;
    width: 1500px;
    margin: 0 auto;
  }
  table {
    padding-top: 30px;
    border-collapse: collapse;
    width: 100%;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
}
th{
    font-size: 20px;
    font-weight: 900;
}
td{
    font-size: 13px;
    font-weight: 900;
}
td:hover {
    color: orange;
}

th, td {
    padding: 8px;
    text-align: left;
}
#footer2_2 p{
    margin-left: 40px;
display: inline-block;
font-size: 10px;
font-weight: 900;
}
#f_li{
    margin-left: 655px;
    font-size: 10px;
    font-weight: 900;
    display: inline-block;
}
#f_li a:hover{
    color: orange;
}
#logoR{
    position: absolute;
    bottom:2em;
    right: 4em;
    position: fixed;
    z-index: 1000;
}
.button-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
  
  #bc1 {
    position: fixed;
  }
  
  .main-button {
    padding: 7px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .sub-buttons {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    display: none;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    z-index: 0;
  
  }

  .sub-button {
    padding: 5px 5px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 3rem;
  }
  .button-container:hover .main-button {
    transform: translateX(-265%);
    /* Move to the left of button1 */
  }
  
  .button-container:hover .sub-buttons {
    right: 0;
    display: flex;
  }
  
  .sub-button:nth-child(1):hover {
    background-color: #00acee;
    color: white
  }
  
  .sub-button:nth-child(2):hover {
    background-color: #25d366;
    color: white
  }
  
  .sub-button:nth-child(3):hover {
    background-color: #1877F2;
    color: white
  }

/* ================================ */

/* POPULAR TAGS DIV */

#popularTagsHeading {
    box-sizing: border-box;
    background-color: #212121;
    /* border: 1px solid red; */
    height: 50px;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #popularTagsHeading h4 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  #popularImgDiv {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-bottom: 40px; */
  }
  
  .popimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: relative;
  }
  
  .poptext {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .poptext:hover {
    color: #d1291c;
    text-decoration: none;
  }
  .popimg1 {
    background-image: url("https://www.royalenfield.com/node/assets/locobuzz/162428582167017912534488757785_1.jpg");
  }
  
  .popimg2 {
    background-image: url("https://www.royalenfield.com/node/assets/locobuzz/162385382438018229864327060339_1.jpg");
  }
  
  .popimg3 {
    background-image: url("https://www.royalenfield.com/node/assets/locobuzz/164242994320417943901948701420_17841401461094006_1.jpg");
  }
  
  .popimg4 {
    background-image: url("https://www.royalenfield.com/node/assets/locobuzz/158635623892217886812278517660_IMAGE.jpg");
  }
  
  .instaHandle {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    position: absolute;
    /* background-color: black; */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    top: 90%;
    text-align: right;
    padding: 10px;
    /* filter: opacity(0.5); */
  }
  
  .instaHandle a {
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  
  .instaHandle a:hover {
    color: #d1291c;
    text-decoration: none;
  }
  
  .instaHandle i {
    font-size: 18px;
    margin-left: 20px;
  }
  
  /* CSS MEDIA QUERIES */
  
  @media all and (max-width: 800px) {
    /* JOURNEY DIV */
  
    .bigbuttons {
      display: none;
    }
  
    .smallbuttons {
      display: block;
    }
  
    /* TRIBUTE DIV */
  
    #tributeDiv {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/royal-enfield-south-pole.png");
      background-size: cover;
      height: 450px;
      cursor: pointer;
    }
  
    #knowMore {
      display: none;
    }
  
    /* IMAGE CAROUSEL */
  
    .carousel .carousel-indicators li {
      width: 8px;
      height: 8px;
    }
  
    .carousel-item a {
      display: none;
    }
  
    .slide {
      cursor: pointer;
      background-size: cover;
      height: 450px;
    }
  
    .slide1 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/accessories/banner/campaign/slip_on_silencer.jpg");
    }
  
    .slide2 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/royal_enfield_hfi.png");
    }
  
    .slide3 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/classic_350_home.png");
    }
  
    .slide4 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/gtcup_home.jpg");
    }
  
    .slide5 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/miy_riding_jacket.jpg");
    }
  
    .slide6 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/podcast/homepage_podcast.jpg");
    }
  
    .slide6 h2,
    p {
      display: none;
    }
  
    .slide7 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/home/royal_enfield_timeless_classic.png");
    }
  
    .slide8 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/interceptor_homepage.jpg");
    }
  
    .slide9 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/banner/mobile/continental_gt_homepage.jpg");
    }
  
    .slide10 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/motorcycles/mobile/meteor.jpg");
    }
  
    .slide11 {
      background-image: url("https://www.royalenfield.com/content/dam/royal-enfield/india/home/motorcycles/mobile/royal_enfield_himalayan_motorcycle.jpg");
    }
  
    /* NEWS GRID AREA */
  
    #newsGrid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  
    .newsText {
      font-size: 13px;
      line-height: 12px;
    }
  
    /* MOTORCYCLES AREA*/
  
    #motorcyclesDiv {
      height: 450px;
    }
  
    #motorcycles div {
      display: none;
    }
  
    .bigscreen {
      display: none;
    }
  
    .smallscreen {
      display: block;
    }
  
    #motorcycles div:first-child {
      display: block;
    }
  
    #motorcycles div:nth-child(2) {
      display: block;
    }
  
    #motorcycles div:nth-child(3) {
      display: block;
    }
  
    #motorcyclesDiv a {
      top: 80%;
      left: 38%;
      font-size: 11px;
    }
  
    
  
    /*POPULAR TAGS DIV*/
  
    #popularImgDiv {
      grid-template-columns: 1fr;
    }
  
    .popimg:not(:first-child) {
      display: none;
    }
  }
  